# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Django
*.log
local_settings.py
db.sqlite3
gymx.db
staticfiles/
media/

# Environment
.env
.venv
venv/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
